<div *ngIf = "userSelectedBook">
    <mat-card-header>
      <mat-card-title>{{userSelectedBook.volumeInfo.title}}</mat-card-title>
    </mat-card-header>
    <span *ngIf = "userSelectedBook.volumeInfo.imageLinks"></span><img mat-card-image src="{{userSelectedBook.volumeInfo.imageLinks?.smallThumbnail}}">
    <div>
       <p>Rating: {{userSelectedBook.volumeInfo.averageRating}}</p>
        <p>Publisher: {{userSelectedBook.volumeInfo.publisher}}</p>
        <p>Page Count: {{userSelectedBook.volumeInfo.pageCount}}</p>
        <p>Language: {{userSelectedBook.volumeInfo.language}}</p>
    </div>
    <mat-card-content>
      <p>
        {{userSelectedBook.volumeInfo.description}}
      </p>
      <span>Written By: </span>
      <span>{{userSelectedBook.volumeInfo.publisher}}</span>
    </mat-card-content>
  
  <div>
    <button mat-flat-button color="accent" (click)='addToCart()'>ADD TO CART</button>
    <button mat-flat-button color="accent" (click)="buyNow()">BUY</button>
  </div>

</div>

